*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Poppins;
    background-color: #000;
}
.main{
    width: 500px;
    margin: auto;
    background-color: #fff;
}
nav{
    height: 70px;
    display: flex;
    padding: 20px 36px;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
section{
    padding: 20px;
}
.hero img{
    display: block;
    max-width: 400px;
    margin:20px auto;
}
.cards{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-left:20px;
}
.card{
    width: 175px;
    font-size: 12px;
    flex: 0 0 auto;
    margin-right: 2em;
}
.card--image{
    width: 100%;
    border-radius: 9px;
}
.card--stats{
    display: flex;
    align-items: center;
}

.card--title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.card--stats {
    display: flex;
    align-items: center;
}

.card--star {
    height: 14px;
}

/* ADD */
.card--price {
    margin-top: auto;
}
